##############################################################
################ LSM303DL driver configuration ###############
##############################################################

menuconfig LSM303DL_DRIVER
	bool "Accelerometer and magnetometer driver enable"
	default y
	help
	  	Enable all drivers for LSM303DLHC chip. These drivers include
		lsm303dl_input, accelerometer and magnetometer driver.
		
if LSM303DL_DRIVER
	source "drivers/sensor/accelerometer/lsm303dl/Kconfig"
endif
