comment "soc_camera sensor drivers"

config SOC_CAMERA_IMX074
	tristate "imx074 support"
	depends on SOC_CAMERA && I2C
	help
	  This driver supports IMX074 cameras from Sony

config SOC_CAMERA_MT9M001
	tristate "mt9m001 support"
	depends on SOC_CAMERA && I2C
	help
	  This driver supports MT9M001 cameras from Micron, monochrome
	  and colour models.

config SOC_CAMERA_MT9M111
	tristate "mt9m111, mt9m112 and mt9m131 support"
	depends on SOC_CAMERA && I2C
	help
	  This driver supports MT9M111, MT9M112 and MT9M131 cameras from
	  Micron/Aptina

config SOC_CAMERA_MT9T031
	tristate "mt9t031 support"
	depends on SOC_CAMERA && I2C
	help
	  This driver supports MT9T031 cameras from Micron.

config SOC_CAMERA_MT9T112
	tristate "mt9t112 support"
	depends on SOC_CAMERA && I2C
	help
	  This driver supports MT9T112 cameras from Aptina.

config SOC_CAMERA_MT9V022
	tristate "mt9v022 and mt9v024 support"
	depends on SOC_CAMERA && I2C
	help
	  This driver supports MT9V022 cameras from Micron

config SOC_CAMERA_OV2640
	tristate "ov2640 camera support"
	depends on SOC_CAMERA && I2C
	help
	  This is a ov2640 camera driver

config SOC_CAMERA_OV5642
	tristate "ov5642 camera support"
	depends on SOC_CAMERA && I2C
	help
	  This is a V4L2 camera driver for the OmniVision OV5642 sensor

config SOC_CAMERA_OV6650
	tristate "ov6650 sensor support"
	depends on SOC_CAMERA && I2C
	---help---
	  This is a V4L2 SoC camera driver for the OmniVision OV6650 sensor

config SOC_CAMERA_OV772X
	tristate "ov772x camera support"
	depends on SOC_CAMERA && I2C
	help
	  This is a ov772x camera driver

config SOC_CAMERA_OV9640
	tristate "ov9640 camera support"
	depends on SOC_CAMERA && I2C
	help
	  This is a ov9640 camera driver

config SOC_CAMERA_OV9740
	tristate "ov9740 camera support"
	depends on SOC_CAMERA && I2C
	help
	  This is a ov9740 camera driver

config SOC_CAMERA_OV5645
	tristate "ov5645 camera support"
	depends on SOC_CAMERA && I2C
	help
	  This driver supports OV5645 cameras from Omnivision
	  This supports auto focus
	  The LED flash has been implemented in the driver
	  Added new function to support exp time

config SOC_CAMERA_OV5645_TUNING
	tristate "ov5645 tuning support"
	depends on SOC_CAMERA_OV5645 && I2C
	help
	  This driver supports OV5645 tuning cameras from Omnivision
	  This supports auto focus
	  The LED flash has been implemented in the driver
	  Added new function to support exp time

config SOC_CAMERA_HM2056
        tristate "hm2056 camera support"
        depends on SOC_CAMERA && I2C
        help
          This driver supports HM2056 cameras from Omnivision
          This supports auto focus
          The LED flash has been implemented in the driver
          Added new function to support exp time

config SOC_CAMERA_HM2056_TUNING
        tristate "hm2056 tuning support"
        depends on SOC_CAMERA_HM2056 && I2C
        help
          This driver supports HM2056 tuning cameras from Omnivision
          This supports auto focus
          The LED flash has been implemented in the driver
          Added new function to support exp time

config SOC_CAMERA_RJ54N1
	tristate "rj54n1cb0c support"
	depends on SOC_CAMERA && I2C
	help
	  This is a rj54n1cb0c video driver

config SOC_CAMERA_S5K4ECGX
	tristate "s5k4ecgx support"
	depends on SOC_CAMERA && I2C
	help
	  This driver supports S5K4ECGX cameras from Samsung

config SOC_CAMERA_S5K4ECGX_TUNING
	tristate "s5k4ecgx tuning support"
	depends on SOC_CAMERA_S5K4ECGX && I2C
	help
	  This driver supports S5K4ECGX tuning cameras from Samsung

config SOC_CAMERA_SR030PC50
	tristate "sr030pc50 support"
	depends on SOC_CAMERA && I2C
	help
	  This driver supports SR030PC50 cameras from siliconfile

config SOC_CAMERA_SR030PC50_TUNING
	tristate "sr030pc50 tuning support"
	depends on SOC_CAMERA_SR030PC50 && I2C
	help
	  This driver supports SR030PC50 tuning cameras from Samsung

config SOC_CAMERA_SR200PC20M
	tristate "sr200pc20m support"
	depends on SOC_CAMERA && I2C
	help
	  This driver supports SR200PC20M cameras from Samsung

config SOC_CAMERA_SR200PC20M_TUNING
	tristate "sr200pc20m tuning support"
	depends on SOC_CAMERA_SR200PC20M && I2C
	help
	  This driver supports SR200PC20M tuning cameras from Samsung

config SOC_CAMERA_SR352
	tristate "sr352 support"
	depends on SOC_CAMERA && I2C
	help
	  This driver supports SR352 cameras from Samsung
	  SR-352 is a 3M pixcel single chip CMOS image sensor
	  for mobile phone camera applications and digital still
	  camera products.

config SOC_CAMERA_SR352_TUNING
	tristate "sr352 tuning support"
	depends on SOC_CAMERA_SR352 && I2C
	help
	  This driver supports SR352 tuning cameras from Samsung
	  SR-352 is a 3M pixcel single chip CMOS image sensor
	  for mobile phone camera applications and digital still
	  camera products.

config SOC_CAMERA_SR130PC20
	tristate "sr130pc20 support"
	depends on SOC_CAMERA && I2C
	help
	  This driver supports SR130PC20 cameras from siliconfile.
	  SR130PC20 is a 1.3M pixcel single chip CMOS image sensor
	  for mobile phone camera applications and digital still
	  camera products.

config SOC_CAMERA_SR130PC20_TUNING
	tristate "sr130pc20 tuning support"
	depends on SOC_CAMERA_SR130PC20 && I2C
	help
	  This driver supports SR130PC20 tuning cameras from Samsung

config SOC_CAMERA_TW9910
	tristate "tw9910 support"
	depends on SOC_CAMERA && I2C
	help
	  This is a tw9910 video driver
