##############################################################
################ L3GD20 driver configuration ###############
##############################################################

menuconfig L3GD20_DRIVER
	bool "Gyroscope driver enable"
	default y
	help
	  	Enable driver for L3GD20 chip
		
if L3GD20_DRIVER
	source "drivers/sensor/gyroscope/l3gd20/Kconfig"
endif
