menuconfig PMIC_INTERFACE
	bool "PowerManagement IC interface support"
	default y
	help
	  This enables support for the PowerManagement IC interface.

if PMIC_INTERFACE
config USB_OTG_INTERFACE
	bool "USB-OTG IC interface support"
	default y

config PMIC_TPS80032_POW
	bool "TPS80032 Power Department Support"
	default y

endif # PMIC_INTERFACE

