##############################################################
################ LSM303DL driver configuration ###############
##############################################################

comment "Accelerometer and magnetometer driver support"

config LSM303DL
	tristate "Accelerometer and magnetometer driver enable"
	default m

	help
	  	Enable all drivers for LSM303DLHC chip. These drivers include
		lsm303dl_input, accelerometer and magnetometer driver.
		

config LSM303DL_ACC_INT1
	bool "Enable INT1 interrupt for accelerometer"
	default n

	help
	  	Enable INT1 interrupt for accelerometer. If interrupt will not be
		used, please select n
		
config LSM303DL_ACC_INT2
	bool "Enable INT2 interrupt for accelerometer"
	default n

	help
	  	Enable INT2 interrupt for accelerometer. If interrupt will not be
		used, please select n
		
config LSM303DL_MAG_INT
	bool "Enable DRDY interrupt for Magnetometer"
	default n

	help
	  	Enable DRDY interrupt for Magnetometer. If interrupt will not be
		used, please select n