if ARCH_SHMOBILE

comment "SH-Mobile System Type"

config ARCH_SH7367
	bool "SH-Mobile G3 (SH7367)"
	select CPU_V6
	select SH_CLK_CPG
	select ARCH_WANT_OPTIONAL_GPIOLIB

config ARCH_SH7377
	bool "SH-Mobile G4 (SH7377)"
	select CPU_V7
	select SH_CLK_CPG
	select ARCH_WANT_OPTIONAL_GPIOLIB

config ARCH_SH7372
	bool "SH-Mobile AP4 (SH7372)"
	select CPU_V7
	select SH_CLK_CPG
	select ARCH_WANT_OPTIONAL_GPIOLIB

config ARCH_SH73A0
	bool "SH-Mobile AG5 (R8A73A00)"
	select CPU_V7
	select SH_CLK_CPG
	select ARCH_WANT_OPTIONAL_GPIOLIB
	select ARM_GIC

config ARCH_R8A73734
	bool "R-Mobile U2 (R8A73734)"
	select CPU_V7
	select SH_CLK_CPG
	select ARCH_WANT_OPTIONAL_GPIOLIB
	select ARM_GIC

comment "SH-Mobile Board Type"

config MACH_G3EVM
	bool "G3EVM board"
	depends on ARCH_SH7367
	select ARCH_REQUIRE_GPIOLIB

config MACH_G4EVM
	bool "G4EVM board"
	depends on ARCH_SH7377
	select ARCH_REQUIRE_GPIOLIB

config MACH_AP4EVB
	bool "AP4EVB board"
	depends on ARCH_SH7372
	select ARCH_REQUIRE_GPIOLIB
	select SH_LCD_MIPI_DSI

choice
	prompt "AP4EVB LCD panel selection"
	default AP4EVB_QHD
	depends on MACH_AP4EVB

config AP4EVB_QHD
	bool "MIPI-DSI QHD (960x540)"

config AP4EVB_WVGA
	bool "Parallel WVGA (800x480)"

endchoice

config MACH_AG5EVM
	bool "AG5EVM board"
	select ARCH_REQUIRE_GPIOLIB
	select SH_LCD_MIPI_DSI
	depends on ARCH_SH73A0

config MACH_MACKEREL
	bool "mackerel board"
	depends on ARCH_SH7372
	select ARCH_REQUIRE_GPIOLIB

config MACH_U2EVM
	bool "U2EVM board"
	select ARCH_REQUIRE_GPIOLIB
	select SH_LCD_MIPI_DSI
	depends on ARCH_R8A73734

config U2_ES1
	bool "U2 ES1.0"
	default y
	depends on ARCH_R8A73734
	help
	  R-Mobile-U2 Engineering Sample 1.0.

config U2_STM_ETR_TO_SDRAM
	bool "U2 STM ETR to SDRAM"
	depends on ARCH_R8A73734
	help
	  R-Mobile-U2 STM Traces through ETR to SDRAM.

comment "SH-Mobile System Configuration"

menu "Memory configuration"

config MEMORY_START
	hex "Physical memory start address"
	default "0x50000000" if MACH_G3EVM
	default "0x40000000" if MACH_G4EVM || MACH_AP4EVB || MACH_AG5EVM || \
				MACH_MACKEREL
	default "0x50000000" if MACH_U2EVM
	default "0x00000000"
	---help---
	  Tweak this only when porting to a new machine which does not
	  already have a defconfig. Changing it from the known correct
	  value on any of the known systems will only lead to disaster.

config MEMORY_SIZE
	hex "Physical memory size"
	default "0x08000000" if MACH_G3EVM
	default "0x08000000" if MACH_G4EVM
	default "0x20000000" if MACH_AG5EVM || MACH_U2EVM
	default "0x10000000" if MACH_AP4EVB || MACH_MACKEREL
	default "0x04000000"
	help
	  This sets the default memory size assumed by your kernel. It can
	  be overridden as normal by the 'mem=' argument on the kernel command
	  line.

endmenu

menu "Timer and clock configuration"

config SHMOBILE_TIMER_HZ
	int "Kernel HZ (jiffies per second)"
	range 32 1024
	default "128"
	help
	  Allows the configuration of the timer frequency. It is customary
	  to have the timer interrupt run at 1000 Hz or 100 Hz, but in the
	  case of low timer frequencies other values may be more suitable.
	  SH-Mobile systems using a 32768 Hz RCLK for clock events may want
	  to select a HZ value such as 128 that can evenly divide RCLK.
	  A HZ value that does not divide evenly may cause timer drift.

config SH_TIMER_CMT
	bool "CMT timer driver"
	help
	  This enables build of the CMT timer driver.

config SH_TIMER_CMT_ARM
	bool "CMT timer driver dedicated for ARM CPU timer"
	default y
	help
	  This enables build of the CMT timer driver.

config SH_TIMER_TMU
	bool "TMU timer driver"
	default y
	help
	  This enables build of the TMU timer driver.

endmenu

config SH_CLK_CPG
	bool

menu "Modem STM trace and debug configuration"

config MUX_STM_TO_SDHI1
        bool "Mux STM to SDHI1"
        default y
        help
          Mux STM CLK, DATA0-3, and SIDI to SDHI1 interface.

endmenu

menu "SH-Mobile CPUFreq Setting"
config SHMOBILE_CPUFREQ
	bool "SH-Mobile has CPUFreq support"
	depends on ARCH_SHMOBILE
	select ARCH_HAS_CPUFREQ
	default n

config SH_TRANSITION_LATENCY
	int "Transition Latency (micro second)"
	range 500 9000
	default "500"
	depends on SHMOBILE_CPUFREQ
	help
	  Transition latency between each sampling.

config SH_UP_THRESHOLD
	int "Up threshold (%)"
	range 50 100
	default "80"
	depends on SHMOBILE_CPUFREQ
	help
	  Upper threshold.

config SH_DOWN_THRESHOLD
	int "Down threshold (%)"
	range 10 50
	default "20"
	depends on SHMOBILE_CPUFREQ
	help
	  Lower threshold.

config SH_FRQ_STEP
	int "Transition frequency step (%)"
	range 1 100
	default "15"
	depends on SHMOBILE_CPUFREQ
	help
	  Frequency Step.
endmenu


config PDC
	bool "Power Domain Control"
	default n
	depends on PM_RUNTIME
	help
	  This enables build of PDC driver.
	  
config PM_HAS_SECURE
	default n
	bool "Support Secure OS by Power Management"
	depends on ARCH_SHMOBILE
	help
	  This enables PM support for Secure OS.
	  
config PM_SECURE_HAL_DUMMY
	default n
	depends on PM_HAS_SECURE
	bool "Dummy SEC HAL function for PM"
	help
	  Dummy SEC HAL function for PM

source "drivers/sh/Kconfig"

endif
