if ARCH_SHMOBILE

comment "SH-Mobile System Type"

config ARCH_SH7367
	bool "SH-Mobile G3 (SH7367)"
	select CPU_V6
	select SH_CLK_CPG
	select ARCH_WANT_OPTIONAL_GPIOLIB

config ARCH_SH7377
	bool "SH-Mobile G4 (SH7377)"
	select CPU_V7
	select SH_CLK_CPG
	select ARCH_WANT_OPTIONAL_GPIOLIB

config ARCH_SH7372
	bool "SH-Mobile AP4 (SH7372)"
	select CPU_V7
	select SH_CLK_CPG
	select ARCH_WANT_OPTIONAL_GPIOLIB

config ARCH_SH73A0
	bool "SH-Mobile AG5 (R8A73A00)"
	select CPU_V7
	select SH_CLK_CPG
	select ARCH_WANT_OPTIONAL_GPIOLIB
	select ARM_GIC
	select I2C

config ARCH_R8A7740
	bool "R-Mobile A1 (R8A77400)"
	select CPU_V7
	select SH_CLK_CPG
	select ARCH_WANT_OPTIONAL_GPIOLIB

config ARCH_R8A7779
	bool "R-Car H1 (R8A77790)"
	select CPU_V7
	select SH_CLK_CPG
	select ARM_GIC
	select ARCH_WANT_OPTIONAL_GPIOLIB

config ARCH_R8A7373
	bool "R-Mobile U2 (R8A7373)"
	select CPU_V7
	select SH_CLK_CPG
	select ARM_GIC
	select ARCH_WANT_OPTIONAL_GPIOLIB
	select CLKSRC_MMIO

config ARCH_R8A73734
	bool "R-Mobile U2 (R8A73734)"
	select CPU_V7
	select SH_CLK_CPG
	select ARCH_WANT_OPTIONAL_GPIOLIB
	select ARM_GIC
	select CLKSRC_MMIO
	select HAVE_SCHED_CLOCK

comment "SH-Mobile Board Type"

config MACH_G3EVM
	bool "G3EVM board"
	depends on ARCH_SH7367
	select ARCH_REQUIRE_GPIOLIB

config MACH_G4EVM
	bool "G4EVM board"
	depends on ARCH_SH7377
	select ARCH_REQUIRE_GPIOLIB

config MACH_AP4EVB
	bool "AP4EVB board"
	depends on ARCH_SH7372
	select ARCH_REQUIRE_GPIOLIB
	select SH_LCD_MIPI_DSI
	select SND_SOC_AK4642 if SND_SIMPLE_CARD

choice
	prompt "AP4EVB LCD panel selection"
	default AP4EVB_QHD
	depends on MACH_AP4EVB

config AP4EVB_QHD
	bool "MIPI-DSI QHD (960x540)"

config AP4EVB_WVGA
	bool "Parallel WVGA (800x480)"

endchoice

config MACH_AG5EVM
	bool "AG5EVM board"
	select ARCH_REQUIRE_GPIOLIB
	select SH_LCD_MIPI_DSI
	depends on ARCH_SH73A0

config MACH_MACKEREL
	bool "mackerel board"
	depends on ARCH_SH7372
	select ARCH_REQUIRE_GPIOLIB
	select SND_SOC_AK4642 if SND_SIMPLE_CARD

config MACH_KOTA2
	bool "KOTA2 board"
	select ARCH_REQUIRE_GPIOLIB
	depends on ARCH_SH73A0

config MACH_BONITO
	bool "bonito board"
	select ARCH_REQUIRE_GPIOLIB
	depends on ARCH_R8A7740

config MACH_MARZEN
	bool "MARZEN board"
	depends on ARCH_R8A7779
	select ARCH_REQUIRE_GPIOLIB

config MACH_U2EVM
	bool "U2EVM board"
	depends on ARCH_R8A7373
	select ARCH_REQUIRE_GPIOLIB
	select SH_LCD_MIPI_DSI

config MACH_U2EVM
	bool "U2EVM board"
	select ARCH_REQUIRE_GPIOLIB
	depends on ARCH_R8A73734

config MACH_U2USB
	bool "U2USB board"
	select ARCH_REQUIRE_GPIOLIB
	depends on ARCH_R8A73734

config U2_ES1
	bool "U2 ES1.0"
	default y
	depends on ARCH_R8A73734
	help
	  R-Mobile-U2 Engineering Sample 1.0.

config U2_STM_ETR_TO_SDRAM
	bool "U2 STM ETR to SDRAM"
	depends on ARCH_R8A73734
	help
	  R-Mobile-U2 STM Traces through ETR to SDRAM.

comment "SH-Mobile System Configuration"

config CPU_HAS_INTEVT
        bool
	default y

menu "Memory configuration"

config MEMORY_START
	hex "Physical memory start address"
	default "0x50000000" if MACH_G3EVM
	default "0x40000000" if MACH_G4EVM || MACH_AP4EVB || MACH_AG5EVM || \
				MACH_MACKEREL || MACH_BONITO
	default "0x41000000" if MACH_KOTA2
	default "0x50000000" if MACH_U2EVM
	default "0x00000000"
	---help---
	  Tweak this only when porting to a new machine which does not
	  already have a defconfig. Changing it from the known correct
	  value on any of the known systems will only lead to disaster.

config MEMORY_SIZE
	hex "Physical memory size"
	default "0x08000000" if MACH_G3EVM
	default "0x08000000" if MACH_G4EVM
	default "0x20000000" if MACH_AG5EVM || MACH_BONITO
	default "0x1e000000" if MACH_KOTA2
	default "0x10000000" if MACH_AP4EVB || MACH_MACKEREL
	default "0x30000000" if MACH_U2EVM
	default "0x04000000"
	help
	  This sets the default memory size assumed by your kernel. It can
	  be overridden as normal by the 'mem=' argument on the kernel command
	  line.

endmenu

menu "Timer and clock configuration"

config SHMOBILE_TIMER_HZ
	int "Kernel HZ (jiffies per second)"
	range 32 1024
	default "128"
	help
	  Allows the configuration of the timer frequency. It is customary
	  to have the timer interrupt run at 1000 Hz or 100 Hz, but in the
	  case of low timer frequencies other values may be more suitable.
	  SH-Mobile systems using a 32768 Hz RCLK for clock events may want
	  to select a HZ value such as 128 that can evenly divide RCLK.
	  A HZ value that does not divide evenly may cause timer drift.

config SH_TIMER_CMT
	bool "CMT timer driver"
	help
	  This enables build of the CMT timer driver.

endmenu

config SH_CLK_CPG
	bool

menu "Modem STM trace and debug configuration"

config MUX_STM_TO_SDHI1
        bool "Mux STM to SDHI1"
        default y
        help
          Mux STM CLK, DATA0-3, and SIDI to SDHI1 interface.

endmenu

menu "SH-Mobile TrustZone Configuration"
config ARM_TZ
	bool "ARM trustzone (TZ) Configuration."
        default n
#       depends ARM
        ---help---
        ARM trustzone (TZ) Configuration.
endmenu

menu "SH-Mobile CPUFreq Setting"
config SHMOBILE_CPUFREQ
	bool "SH-Mobile has CPUFreq support"
	depends on ARCH_SHMOBILE
	select ARCH_HAS_CPUFREQ
	default n

config SH_TRANSITION_LATENCY
	int "Transition Latency (ms)"
	range 10 1000
	default "50"
	depends on SHMOBILE_CPUFREQ
	help
	  Transition latency between each sampling.

config SH_UP_THRESHOLD
	int "Up threshold (%)"
	range 50 100
	default "80"
	depends on SHMOBILE_CPUFREQ
	help
	  Upper threshold.

config SH_DOWN_THRESHOLD
	int "Down threshold (%)"
	range 10 50
	default "20"
	depends on SHMOBILE_CPUFREQ
	help
	  Lower threshold.

config SH_FRQ_STEP
	int "Transition frequency step (%)"
	range 1 100
	default "15"
	depends on SHMOBILE_CPUFREQ
	help
	  Frequency Step.
endmenu


config PDC
	bool "Power Domain Control"
	default n
	depends on PM_RUNTIME
	help
	  This enables build of PDC driver.
	  
config PM_HAS_SECURE
	default y
	bool "Support Secure OS by Power Management"
	depends on ARCH_SHMOBILE
	depends on ARM_SEC_HAL
	help
	  This enables PM support for Secure OS.

config HOTPLUG_ARCH_R8A73734
	default y
	bool "Support CPU Hotplug for R-MobileU2"
	depends on HOTPLUG_CPU
	help
	  This CPU Hotplug for R-MobileU2

config HOTPLUG_CPU_MGR
	default y
	bool "Support CPU Hotplug Manager for R-MobileU2 New power consumption"
	depends on HOTPLUG_CPU
	depends on ARCH_SHMOBILE
	depends on HOTPLUG_ARCH_R8A73734
	help
	  This CPU Hotplug Manager for R-MobileU2 New power consumption
	  It relatd to 3 modules: Dynamic Frequency Scaling (DFS), Hotplug
	  and Sleep (WFI)/CoreStandy)

source "drivers/sh/Kconfig"

config MACH_U2EVM_SR_REV031
	bool "New borad version V0.3.1"
	default n

config RENESAS
	bool "Renesas reference implementations"
	default n

config RENESAS_BT
	bool "Renesas reference implementation for BT"
	default n
	depends on RENESAS

config RENESAS_NFC
	bool "Renesas reference implementation for NFC"
	default n
	depends on RENESAS

config RENESAS_GPS
	bool "Renesas reference implementation for GPS"
	default n
	depends on RENESAS
config BRCM_UNIFIED_DHD_SUPPORT
	bool "Renesas reference implementation for WiFi"
	default n
config RENESAS_WIFI
	bool "Renesas reference implementation for WiFi"
	default n
	depends on BRCM_UNIFIED_DHD_SUPPORT

config BOARD_VERSION_V050
	default y
	bool "board_revision"
	help
	  Board revision 
comment "Debugging Feature"

menuconfig SEC_DEBUG
      bool "Samsung TN Ramdump Feature"
       default y
       help
         Samsung TN Ramdump Feature. Use INFORM3 and magic number at 0xc0000000.
         enable this to use Ramdump secondary handler

if SEC_DEBUG

config SEC_DEBUG_USER
        bool "Panic on Userspace fault"
        default y
        help
          Panic on Userspace fault

menuconfig SEC_DEBUG_INFORM
        bool "Samsung TN Ramdump information region on memory"
        default y
        help
          Samsung TN Ramdump information region.

menuconfig SEC_DEBUG_SCHED_LOG
        bool "Samsung TN Ramdump information region on memory"
        default y
        help
          Samsung TN Ramdump information region.

menuconfig SEC_DEBUG_IRQ_EXIT_LOG
        bool "Samsung TN Ramdump information region on memory"
        default y
        help
          Samsung TN Ramdump information region.
menuconfig SEC_DEBUG_INFORM_IOREMAP
        bool "Samsung TN Ramdump information region on memory"
        default n
        depends on SEC_DEBUG_INFORM
        help
          Samsung TN Ramdump information region that is dynamically mapped by ioremap_nocache().

menuconfig SEC_DEBUG_INFORM_IOTABLE
        bool "Samsung TN Ramdump information region on memory"
        default y
        depends on SEC_DEBUG_INFORM
        help
          Samsung TN Ramdump information region that is statically mapped by iotable_init().

#endif for SEC_DEBUG
endif

# endif for ARCH_SHMOBILE

menu "Kernel low-level debugging via SuperH SCI(F) port"

config DEBUG_LL_SH_SCI_BASE
	depends on DEBUG_SH_SCI
	hex "Physical base address"
	default "0x00000000"

endmenu

endif
