CONFIG_U2EVM_SECURITY=y
CONFIG_U2EVM_SECURITY_IMG_ADDRS=0x4E000800
CONFIG_AEABI=y
# CONFIG_ARM_EXCEPTIONS is not set
CONFIG_TEXT_BASE=0xED0C1300
CONFIG_MEMORY_LAYOUT_FIXED=y
CONFIG_STACK_BASE=0x455FE400
CONFIG_STACK_SIZE=0x20000
CONFIG_MALLOC_BASE=0x4561E400
CONFIG_MALLOC_SIZE=0x2000000
CONFIG_CMDLINE_EDITING=y
CONFIG_AUTO_COMPLETE=y
CONFIG_PARTITION=y
CONFIG_DEFAULT_ENVIRONMENT_GENERIC=y
CONFIG_DEFAULT_ENVIRONMENT_PATH="arch/arm/boards/u2evm/env"
CONFIG_DEBUG_INFO=y
CONFIG_CMD_EDIT=y
CONFIG_CMD_SLEEP=y
CONFIG_CMD_SAVEENV=y
CONFIG_CMD_LOADENV=y
CONFIG_CMD_EXPORT=y
CONFIG_CMD_PRINTENV=y
CONFIG_CMD_READLINE=y
CONFIG_CMD_BOOTM_SHOW_TYPE=y
CONFIG_CMD_RESET=y
CONFIG_CMD_GO=y
CONFIG_CMD_TIMEOUT=y
CONFIG_CMD_PARTITION=y
CONFIG_NET=y
CONFIG_NET_DHCP=y
CONFIG_NET_NFS=y
CONFIG_NET_PING=y
CONFIG_NET_TFTP=y
CONFIG_NET_TFTP_PUSH=y
CONFIG_NET_NETCONSOLE=y
CONFIG_MCI=y
CONFIG_MCI_STARTUP=y
CONFIG_FS_CRAMFS=y
CONFIG_FS_FAT=y
CONFIG_FS_FAT_WRITE=y
CONFIG_FS_FAT_LFN=y
