##############################################################
################ BH1771GLC driver configuration ###############
##############################################################

menuconfig BH1771GLC_DRIVER
	bool "Light and proximity driver enable"
	default y
	help
	  	Enable driver for BH1771GLC chip
		
if BH1771GLC_DRIVER
	source "drivers/sensor/proximity/bh1771glc/Kconfig"
endif
