[offline]
issw_binary_infra_signed         = OFFLINE_ISSW_TEMPLATE
test_protected_data_key_priv_pem = OFFLINE_KEY_TEMPLATE/OFFLINE_TEST_PROTECTED_DATA_2048bit_key.pem
test_secure_mode_key_priv_pem    = OFFLINE_KEY_TEMPLATE/OFFLINE_TEST_SECURE_MODE_2048bit_key.pem
test_sw_key_priv_pem             = OFFLINE_KEY_TEMPLATE/OFFLINE_TEST_SW_2048bit_key.pem
fw_transfer_key_priv_pem         = OFFLINE_KEY_TEMPLATE/OFFLINE_FW_TRANSFER_2048bit_key.pem
ic_key_pub_pem                   = OFFLINE_KEY_TEMPLATE/OFFLINE_IC_2048bit_key.pem
cc_key_pub_pem                   = OFFLINE_KEY_TEMPLATE/OFFLINE_CC_2048bit_key.pem
infra_auth_key_pub_pem           = OFFLINE_KEY_TEMPLATE/OFFLINE_INFRA_AUTH_2048bit_key.pem
simlock_key_pub_pem              = OFFLINE_KEY_TEMPLATE/OFFLINE_SIMLOCK_2048bit_key.pem
protected_data_key_pub_pem       = OFFLINE_KEY_TEMPLATE/OFFLINE_PROTECTED_DATA_2048bit_key.pem
secure_wd_key_pub_pem            = OFFLINE_KEY_TEMPLATE/OFFLINE_SECURE_WD_2048bit_key.pem
