#
# Sensor device configuration
#

menuconfig SENSOR_SUPPORT
	bool "Sensor support"
	default n
	help
		This option adds the support for sensor driver.
		You will also need drivers from the following menu to make use of it.

if SENSOR_SUPPORT

source "drivers/sensor/accelerometer/Kconfig"
source "drivers/sensor/gyroscope/Kconfig"
source "drivers/sensor/proximity/Kconfig"

endif
