##############################################################
################ Gyroscope driver configuration ##############
##############################################################

comment "Gyroscope driver support"

config GYROSCOPE
	tristate "Gyroscope driver enable"
	default m

	help
	  	Enable Gyroscope driver
		
config L3GD20_POLLING
	bool "Gyroscope polling model"
	default y

	help
	  	Enable polling mechanism for L3GD20 chip. If interrupt will be
		used, please select n