##############################################################
##########	Proximity and ambient light driver  ##############
##############################################################

comment "Proximity and ambient light driver support"

config PROXIMITY
	tristate "Proximity and ambient light driver enable"
	default m

	help
	  	Enable Proximity and ambient light driver
		
config PROXIMITY_POLLING
	bool "Proximity polling model"
	default y

	help
	  	Enable polling mechanism for Proximity. If interrupt will be
		used, please select n